**/.venv
**/.env
**/.env.*
**/node_modules
**/.coverage
**/.git
**/.github
**/.mypy_cache
**/.pre-commit-config.yaml
**/.pytest_cache
**/.ruff_cache
**/.venv
**/.vscode
**/htmlcov
**/build
**/dist
**/Dockerfile
**/Dockerfile.*
**/docker-compose.yml
**/docker-compose.yaml
**/.dockerignore
