# Virtual environment
venv/
env/

# Logs from UI
logs/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Data files
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
